.DrumMachineGrid {
	padding: 10px;
}

.DrumMachineGrid-table {
	width: 100%;
	font-size: 16px;
}

.DrumMachineGrid-tableHeader {
	border-bottom: 1px solid #ddd;
}

.DrumMachineGrid-tableHeader th {
	width: 30px;
	height: 30px;
	padding: 0;
	color: #35cac5;
}
.DrumMachineGrid-tableHeader th:first-of-type {
	width: 120px;
}

.DrumMachineGrid-tableBody tr th {
	text-align: right;
	padding-right: 10px;
}

.DrumMachineGrid-tableBody tr td {
	border: 2px solid #181818;
	height: 24px;
	margin: 10px;
	background: #202020;
	border-radius: 5px;
}

.DrumMachineGrid-tableHeader th.DrumMachineGrid--activeColumn {
	background: #202020;
	color: #fff;
}
.DrumMachineGrid-tableBody tr td.DrumMachineGrid--selectedCell {
	text-align: center;
	font-size: 40px;
	background: #35cac5;
}
